@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --cor-principal:#fffdf7;
    --cor-preto:#304543;
    --cordourada:#cba72c;

}